body {
    font-family: 'telefonica_textregular', Calibri, sans-serif;
}

#map {
    width: 100%;
    z-index: 100;
}

#menu {
    height: 100%;
    margin: auto 0 0 auto;
    /*border-radius: 0 0 0 20px;*/
    width: 270px;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;

    background: linear-gradient(-90deg,#f1f1f1,hsla(0,0%,100%,.3));
    box-shadow: -1px 1px 20px 0px rgba(0,0,0,.4);

    padding: 150px 0 20px 0;
    box-sizing: border-box;
}

#title {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999999;
    padding: 10px 0;
    height: 50px;
    line-height: 50px;
    width: 270px;

    font-family: 'telefonica_cap', Calibri, sans-serif;
    color: white;
    background: #909;
    text-align: center;

}

#title h2 {
    margin-top: 3px;
    margin-bottom: 3px;
}

#menu #cars a {
    font-family: 'telefonica_textregular', Calibri, sans-serif;
    /*font-weight: bold;*/
    transition: 0.5s;
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    white-space: normal;
    text-decoration: none;
    box-sizing: border-box;
}

@keyframes bgcolorchange {
  0% {
    text-shadow: 0 0 0;
  }
  20% {
    text-shadow: 0 0 25px blue;
  }
  30% {
    text-shadow: 0 0 0;
  }
  40% {
    text-shadow: 0 0 25px blue;
  }
  50% {
    text-shadow: 0 0 0;
  }
  70% {
    text-shadow: 0 0 25px red;
  }
  80% {
    text-shadow: 0 0 0;
  }
  90% {
    text-shadow: 0 0 25px red;
  }
  100% {
    text-shadow: 0 0 0;
  }
}

#menu #cars a i {
    margin-right: 10px;
}

/*#menu #cars a span {
    color: lightslategrey;
    font-size: 10px;
    float: right;
    margin-right:20px;
}*/

#cars a p {
    font-size: 12px;
    margin: 0;
    text-align: right;
    color: #414141;
}

.carSelected {
    color: black;
    animation: 2s infinite bgcolorchange;
}

.dispatched {
    color: #ff6633 !important;
}


#menu #cars a:hover {
    background:#0DFF99;
}

@font-face {
    font-family: 'telefonica_textregular';
    src: url('font/telefonicatext-regular-webfont.woff2') format('woff2'),
         url('font/telefonicatext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telefonica_cap';
    src: url('font/telefonica-cap-webfont.woff2') format('woff2'),
         url('font/telefonica-cap-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.awesome-marker i {
    pointer-events: none;
    margin-top: 34px;
    font-size: 12px;
    color: #fff !important;
}

.awesome-marker-icon-transparent, .awesome-marker-shadow  {
    pointer-events: none;
    background: transparent !important;
}

.leaflet-marker-shadow {
    opacity: 0 !important;
}

.deactivated {
    opacity: 0.4 !important;
}

.leaflet-routing-container {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.leaflet-marker-pane > img.leaflet-marker-icon {
    pointer-events: none;
    opacity: 0 !important;
    display: none;
}

.leaflet-marker-pane > img.leaflet-marker-icon.alertMarker {
    display: block;
    opacity: 1 !important;
}

svg path {
    pointer-events: none;
}

.drag img {
    position: absolute;
    cursor: pointer;
    z-index: 500;
}


#siren {
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: 9999;
    width: 270px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    padding: 10px 0;

    color: #ff6633;
}

#sirenImg {
    z-index: 9999;

    max-width: inherit;
    max-height: 60px;
    margin: 0px;

    cursor: pointer;
}

#siren.undraggable * {
    pointer-events: none;
    opacity: 0.5;
}

.ui-draggable-helper {
    z-index: 99999;
    max-width: 50px;
}

#tooltip {
    /*opacity: 0 !important;*/
}

#alertRecieved {
    position: absolute;
    max-width: 300px;
    max-height: 72px;
    z-index: 500;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 12px;
    margin-left: 50px;
    text-align: center;
    border-radius: 5px;
    display: none;
    padding-left: 45px;

    -webkit-box-shadow: 0px 2px 9px -1px rgba(255,102,51,1);
-moz-box-shadow: 0px 2px 9px -1px rgba(255,102,51,1);
box-shadow: 0px 2px 9px -1px rgba(255,102,51,1);
}

#alertRecieved h3 {
    margin: 0;
    line-height:40px;
    color: #ff6633;
}

#alertRecieved p {
    margin: 0;
}

#alertRecieved img {
    position: absolute;
    top: 7px;
    left: 8px;
}

.center_button.leaflet-control {
    display: none;
}